h1{
	color: white;
	text-align: center;
	background: purple;
	font-family: "lucida handwriting", Times, cursive;
	border: 2px dashed white;
}
#a{
	border:3px solid black;
}
p{
	color: white;
	background: Purple;
	text-align: center;
	font-family: "lucida handwriting", Times, cursive;
	border: 2px dashed white;
}
img{
	border:3px solid white;
	display:block;
	margin:auto;
}
body{
	background-color: purple;
}
